Other Assignments/21 - WCF Assignment/HelloService/WebServiceMVCClient/Connected Services/JobOpenings/JobOpenings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54947/JobOpenings.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JobOpenings" />
  <xs:element name="GetAvailbleJobList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailbleJobListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JobOpenings" minOccurs="0" name="GetAvailbleJobListResult" nillable="true" type="q1:ArrayOfJobs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobsByRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobsByRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JobOpenings" minOccurs="0" name="GetJobsByRoleResult" nillable="true" type="q2:ArrayOfJobs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>