Other Assignments/21 - WCF Assignment/HelloService/WebServiceMVCClient/Connected Services/JobOpenings/JobOpenings.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JobOpenings" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54947/JobOpenings.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54947/JobOpenings.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54947/JobOpenings.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JobOpenings" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJobOpenings_GetAvailbleJobList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailbleJobList" />
  </wsdl:message>
  <wsdl:message name="IJobOpenings_GetAvailbleJobList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailbleJobListResponse" />
  </wsdl:message>
  <wsdl:message name="IJobOpenings_GetJobsByRole_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobsByRole" />
  </wsdl:message>
  <wsdl:message name="IJobOpenings_GetJobsByRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobsByRoleResponse" />
  </wsdl:message>
  <wsdl:portType name="IJobOpenings">
    <wsdl:operation name="GetAvailbleJobList">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobOpenings/GetAvailbleJobList" message="tns:IJobOpenings_GetAvailbleJobList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobOpenings/GetAvailbleJobListResponse" message="tns:IJobOpenings_GetAvailbleJobList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobsByRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobOpenings/GetJobsByRole" message="tns:IJobOpenings_GetJobsByRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobOpenings/GetJobsByRoleResponse" message="tns:IJobOpenings_GetJobsByRole_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="usingBasicHttp" type="tns:IJobOpenings">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailbleJobList">
      <soap:operation soapAction="http://tempuri.org/IJobOpenings/GetAvailbleJobList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobsByRole">
      <soap:operation soapAction="http://tempuri.org/IJobOpenings/GetJobsByRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JobOpenings">
    <wsdl:port name="usingBasicHttp" binding="tns:usingBasicHttp">
      <soap:address location="http://localhost:54947/JobOpenings.svc/JobOpenings" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>