Other Assignments/21 - WCF Assignment/HelloService/WebServiceMVCClient/Connected Services/CalcService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Addition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstNo" type="xs:int" />
        <xs:element minOccurs="0" name="SecondNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdditionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Substraction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstNo" type="xs:int" />
        <xs:element minOccurs="0" name="SecondNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubstractionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubstractionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multiplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstNo" type="xs:int" />
        <xs:element minOccurs="0" name="SecondNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultiplicationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Division">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstNo" type="xs:int" />
        <xs:element minOccurs="0" name="SecondNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DivisionResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>